.toolbar {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgb(2, 11, 18) !important;

  .site-name {
    font-size: 3rem;
  }

  .stories {
    display: flex;
    margin-left: 4rem;

    .story {
      cursor: pointer;
      margin-left: 1rem;
      font-size: 2rem;
    }

    .story:hover {
      text-decoration: underline;
      color: rgb(128, 224, 245);
    }
  }
}
