<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div class="site-name"> Hacker News </div>

    <button class="menu-bttn" *ngIf="(breakPoint$ | async) === 'XSmall' || (breakPoint$ | async) === 'Small'
      || (breakPoint$ | async) === 'Medium'" mat-button [matMenuTriggerFor]="storiesMenu">
      <mat-icon>
        menu
      </mat-icon>
      stories
    </button>
    <mat-menu class="menu" #storiesMenu="matMenu">
      <button class="menu-item" mat-menu-item *ngFor="let type of storyTypes" (click)="onStoryClickHandler(type)">
        {{ type }}
      </button>
    </mat-menu>


    <div *ngIf="(breakPoint$ | async) !== 'XSmall' && (breakPoint$ | async) !== 'Small'
      && (breakPoint$ | async) !== 'Medium'" class="stories">
      <div class="story" *ngFor="let type of storyTypes" (click)="onStoryClickHandler(type)">
        {{ type }}
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
