<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div class="site-name"> Hacker News </div>

    <button mat-button [matMenuTriggerFor]="storiesMenu">
      <mat-icon>
        menu
      </mat-icon>
      stories
    </button>
    <mat-menu #storiesMenu="matMenu">
      <button mat-menu-item *ngFor="let type of storyTypes" (click)="onStoryClickHandler(type)">
        {{ type }}
      </button>
    </mat-menu>


    <div class="stories">
      <div class="story" *ngFor="let type of storyTypes" (click)="onStoryClickHandler(type)">
        {{ type }}
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
