<div class="container" *ngIf="(stories$ | async) as stories">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <div class="button-container">
        <button class="prev" [disabled]="gridFirstItemIndex === 0" (click)="updateFirstGridIndex(false)" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
          previous
        </button>
      </div>
      <div class="button-container">
        <button class="refresh" (click)="refreshHandler()" mat-icon-button>
          {{ currentStoryType }}
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button class="more" [disabled]="gridFirstItemIndex+gridLayout.gridSize >= stories.length" (click)="updateFirstGridIndex(true)" mat-icon-button>
          more
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="{{gridLayout.columns}}" rowHeight="{{gridLayout.rowHeight}}" gutterSize="{{gridLayout.gutterSize}}">
    <mat-grid-tile
        *ngFor="let id of (stories | slice:gridFirstItemIndex:gridFirstItemIndex+gridLayout.gridSize); index as i"
        [style.background]="'#02263df7'"
        [style.color]="'white'"
        [style.border]="'#00090E'">
        <app-item class="item" [itemNumber]="(gridFirstItemIndex+i+1)"  [itemId]="id"></app-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
