<div class="container" *ngIf="stories$ | async as stories">

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <div class="button-container">
        <button [disabled]="gridFirstItemIndex === 0" (click)="updateFirstGridIndex(false, 0)" mat-icon-button aria-label="Example icon button with a menu icon">
          <mat-icon>arrow_back</mat-icon>
          previous
        </button>
      </div>
      <div class="button-container">
        <button (click)="updateFirstGridIndex(true, stories.length)" mat-icon-button  aria-label="Example icon button with a menu icon">
          more
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="3" rowHeight="5:1" gutterSize="0.5rem">
    <mat-grid-tile
        *ngFor="let id of (stories | slice:gridFirstItemIndex:gridFirstItemIndex+gridSize); index as i"

        [style.background]="'#02263df7'"
        [style.color]="'white'"
        [style.border]="'#00090E'">
        <app-item class="item" [itemNumber]="(gridFirstItemIndex+i+1)"  [itemId]="id"></app-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
