.container {
  margin: auto;
  height: 88%;
  width: 95%;
  top: 0.5rem;
  left: 0.5rem;
  position: relative;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .contrib {
      font-style: italic;
      text-align: right;
      font-size: 1.2rem;
    }

    .title {
      margin-top: 1rem;
      font-size: 1.4rem;

      a {
        color: white;
      }

      .domain {
        margin-left: 0.5rem;
      }
    }

    .content {
      height: auto;
      display: flex;
      position: absolute;
      bottom: 0;

      .score, .comment {
        display: flex;
        margin-right: 1rem;
        font-size: 1.2rem;

        div {
          margin-left: 1rem;
        }

        mat-icon {
          cursor: pointer;
        }

        mat-icon:hover {
          color: rgb(128, 224, 245);
        }
      }

      .comment {
        margin-left: 1rem;
      }
    }
  }

  .item-number {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
