.container {
  margin: auto;
  height: 98%;
  width: 94%;
  padding: 1.5rem;
  top: 0.5rem;
  left: 0.5rem;
  position: relative;

    .title {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      top: 1rem;
    }

    .content {
      display: flex;

      .score, .comment {
        display: flex;
        margin-right: 1rem;
        font-size: 1.1rem;

        div {
          margin-left: 1rem;
        }
      }
    }

    .item-number {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }

}
