<div class="container" *ngIf="(item$ | async); let itemVar;">

  <div class="wrapper">
    <div class="title">
      <u>{{ itemVar.title }} ({{ itemVar.url? (itemVar.url | getUrlDomain) : ''}})</u>
    </div>

    <div class="content">
      <div class="score">
        <mat-icon> thumb_up </mat-icon>
        <div>
          {{ itemVar.score }} points by <span href=""> {{ itemVar.by? itemVar.by: 'N/A' }} </span> @{{ itemVar.time? (itemVar.time | date: 'short'): 'N/A'}}
        </div>
      </div>

      <div class="comment">
        <mat-icon> comment </mat-icon>
        <div class="comment-count">
          {{ itemVar.descendants? itemVar.descendants: 0 }} Comments
        </div>
      </div>
    </div>
  </div>

  <div class="item-number" *ngIf="itemNumber > 0">
    ({{ itemNumber }})
  </div>
</div>
