<div class="container" *ngIf="(item$ | async); let itemVar;">

  <div class="wrapper">
    <div class="contrib">
      contributed by: {{ itemVar.by? itemVar.by: 'N/A' }} @{{ itemVar.time? (itemVar.time | date: 'short'): 'N/A'}}
    </div>


    <div class="title">
      <a *ngIf="itemVar.url" href={{itemVar.url}} target="_blank"> {{itemVar.title}}</a>
      <a *ngIf="!itemVar.url"> {{itemVar.title}}</a>
      <span class="domain">({{ itemVar.url? (itemVar.url | getUrlDomain) : ''}})</span>
    </div>

    <div class="content">
      <div class="score">
        <mat-icon> thumb_up </mat-icon>
        <div>
          {{ itemVar.score }} points
        </div>
      </div>

      <div class="comment">
        <mat-icon> comment </mat-icon>
        <div class="comment-count">
          {{ itemVar.descendants? itemVar.descendants: 0 }} Comments
        </div>
      </div>
    </div>
  </div>

  <div class="item-number" *ngIf="itemNumber > 0">
    ({{ itemNumber }})
  </div>
</div>
