.toolbar {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgb(2, 11, 18) !important;

  .menu-bttn {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: rgb(2, 11, 18);
  }

  .menu-bttn:hover {
    color: rgb(128, 224, 245);
  }

  .site-name {
    font-size: 3rem;
  }

  .stories {
    display: flex;
    margin-left: 4rem;

    .story {
      cursor: pointer;
      margin-left: 1rem;
      font-size: 2rem;
    }

    .story-disabled {
      cursor:auto;
      color: rgba(255,255,255,.3);
    }

    .story:hover {
      text-decoration: underline;
      color: rgb(128, 224, 245);
    }

    .story-disabled:hover {
      text-decoration: none;
      color: rgba(255,255,255,.3);
    }
  }
}
