<mat-toolbar class="toolbar" *ngIf="(breakPoint$ | async) as breakPoint">
  <mat-toolbar-row>
    <div class="site-name"> Hacker News </div>

    <button class="menu-bttn" *ngIf="breakPoint === 'XSmall' || breakPoint === 'Small'
      || breakPoint === 'Medium'" mat-button [matMenuTriggerFor]="storiesMenu">
      <mat-icon>
        menu
      </mat-icon>
      stories
    </button>
    <mat-menu class="menu" #storiesMenu="matMenu">
      <button class="menu-item" mat-menu-item *ngFor="let type of storyTypes" (click)="onStoryClickHandler(type)">
        {{ type }}
      </button>
    </mat-menu>

    <div *ngIf="breakPoint !== 'XSmall' && breakPoint !== 'Small'
      && breakPoint !== 'Medium'" class="stories">
      <div class="story" [class.story-disabled]="type === currentStoryType"
        *ngFor="let type of storyTypes" (click)="onStoryClickHandler(type)">
        {{ type }}
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
