/* You can add global styles to this file, and also import other style files */
html {font-size: 10px;}
html, body { height: 100%;  min-width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.mat-menu-panel {
  background-color: rgb(2, 11, 18);
}

.mat-menu-item:hover {
  color: rgb(128, 224, 245);
}
